/* noto snas kr 레귤러, 볼드/ roboto 레귤러, 볼드 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* 기본설정 */

::-webkit-scrollbar{
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

*:focus{
    outline: 0;
}

span {
    font-family: 'Roboto', sans-serif;
    color: #191919;
}

p,
li,
a,
button,
h2,
h3 {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.039%;
    font-weight: 400;
    font-size: 1.04vw;
    color: #191919;
    text-decoration: none;
}

/*-------------------------------------------

                   pc용 CSS
 
--------------------------------------------*/

/* 푸터설정 */

footer{
    padding: 4.17% 16.67%;
    margin-top: 4.17%;
    line-height: 150%;
    border-top: solid 1px #191919;
}


#add_message {
    color: #ff3120;
    font-weight: 700;
}

/* 헤더설정 */

header {
    background-color: #f1f1f5;
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    min-height: 40px;
    padding-top: 3.65%;
}

header div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    width: 66.67%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.logo {
    cursor: pointer;
    width: 7.81%;
    margin-right: 20px;
    min-width: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left_nav,
.right_nav,
.mobile_nav {
    list-style: none;
}

.left_nav li {
    display: inline-block;
    margin: 0 20px;
}


.left_nav li a:hover,
.right_nav li a:hover {
    font-weight: 700;
}

.mobile_logo,
.mobile_nav,
#simbol_button{
    display: none;
}


/* -----------------------
            슬라이더
------------------------ */

.slider_section {
    background-color: #E1E1EB;
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 36.46%;
    min-height: 400px;
}


.slider_box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.slider_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 66.67%;
    height: 100%;
    margin: auto;
    padding-bottom: 3.13%;
}

#big_start_button {
    display: inline-block;
    padding: 0.86% 0;
    font-size: 1.56vw;
    font-weight: 700;
    color: #f8f8fa;
    border-radius: 5px;
    background-color: #191919;
    outline: 0;
    border: solid 2px #191919;
    box-sizing: border-box;
    cursor: pointer;
    width: 21.97%;
}

#big_start_button:hover {
    background-color: rgba(248, 248, 250, 50%);
    color: #191919;
}

.slider_title {
    display: inline-block;
    margin-bottom: 15.63%;
    width: 35.16%;
}

/*---------------- 
        콘텐츠 
----------------*/

.contents_section {
    width: 66.67%;
    margin: auto;
}

#title_and_align_btn {
    margin-top: 6.25%;
    display: flex;
    align-items: center;
}

#title_and_align_btn h2 {
    display: inline-block;
    font-size: 1.875vw;
    font-weight: 700;
    margin-right: 1.5625%;
}

.tests_headline {
    margin-top: 6.25%;
    font-size: 1.5625vw;
    font-weight: 700;
}

/* 정렬 아이콘 */

#block_align_btn,
#list_align_btn {
    display: inline-block;
    width: 1.875%;
    height: 1.875%;
    margin-right: 0.78125%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

}

#block_align_text,
#list_align_text {
    display: none;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.039%;
    font-weight: 700;
    font-size: 1.04vw;
    text-decoration: underline;
}

#block_align_btn {
    fill: #191919;
}

#list_align_btn {
    fill: #E1E1EB;
}

#block_align_btn:hover,
#list_align_btn:hover {
    transform: scale(1.3);
}

#block_align_btn:hover~#block_align_text,
#list_align_btn:hover~#list_align_text {
    display: inline-block;
}


/* 블럭정렬*/

.block_view .contents_space {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.block_view .contents_block {
    position: relative;
    width: 31.25%;
    border-radius: 20px;
    background-color: #F8F8FA;
    overflow: hidden;
    margin-top: 3.125%;
    margin-right: 3.125%;
    box-shadow: 0 5px 30px 2px rgba(0, 0, 0, 30%);
    cursor: pointer;
}

.block_view .contents_block:hover {
    background-color: #f8f8fa;
    transform: scale(1.1);
    z-index: 10;
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.block_view .contents_block:nth-of-type(3n) {
    margin-right: 0;
}

.block_view .contents_block:before {
    content: "";
    padding-top: 75%;
    display: block;
}

.block_view .contents_block div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.block_view .contents_block div img {
    margin: 25% 10%
}

/* 리스트 정렬 */

.list_view .contents_space {
    display: flex;
    flex-direction: column;
}

.list_view .contents_block {
    position: relative;
    width: 100%;
    border-radius: 20px;
    margin-top: 3.125%;
    background-color: #E1E1EB;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 10%);
}

.list_view .contents_block:hover{
    background-color: #F1F1F5;
}

.list_view .contents_block:before {
    content: "";
    padding-top: 9.375%;
    display: block;
}

.list_view .contents_block div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.list_view .contents_block div img {
    margin: 25% 10%
}


/* 작은 태그 */

.small_new_tag {
    background-color: #ff3120;
}

.small_best_tag {
    background-color: #2e4bed;
}

.small_secret_tag {
    background-color: #6A1FD1;
}

.small_new_tag,
.small_best_tag,
.small_secret_tag{
    position: absolute;
    top: 0;
    right: 0;
    color: #f8f8fa;
    border-radius: 0 20px;
    width: 70px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    padding: 6px 0;
}



/*-------------------------------------------

                   태블릭용 CSS
 
--------------------------------------------*/
@media all and (max-width:960px){
    


}



/*-------------------------------------------

                   모바일용 CSS
 
--------------------------------------------*/

@media all and (max-width:768px){

/* 헤더설정 */

header {
    background-color: unset;
    position: absolute;
    width: 100%;
    height: unset;
    overflow: hidden;
    min-height: 0px;
    z-index: 10;
    padding-top: 66.67%;
}


.header_box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 87.2%;
}

.logo,
.left_nav,
.right_nav {
    display: none;
}

.mobile_logo,
.mobile_nav{
    display: inline-block;
}

.mobile_logo{
    display: inline-block;
    transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1);
}

.mobile_logo_btn{
    border-radius: 50%;
    width: 21.41%;
    padding-top: 21.41%;
    height: 0;
    margin: 4.59% 0;
    transform: scale(1.0);
    transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1);
    transition: opacity 0.4s cubic-bezier(0.5, 0, 0.75, 0) 0.3s;
    box-sizing: content-box;
    background-color: rgba(255, 255, 255, 100%);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 10%);
    z-index: 20;
    -webkit-tap-highlight-color: transparent;
}

.btn_mode_off {
    border-radius: 50%;
    width: 21.41%;
    padding-top: 21.41%;
    height: 0;
    margin: 4.59% 0;
    transform: scale(1.0);
    transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1);
    transition: opacity 0.4s cubic-bezier(0.5, 0, 0.75, 0) 0.3s;
    box-sizing: content-box;
    animation: fadein_btn 0.6s forwards;
}

@keyframes fadein_btn {
    from{
        background-color: rgba(255, 255, 255, 100%);
        box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 10%);
    }
    to{
        background-color: rgba(255, 255, 255, 0%);
        box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0%);
    }
}


.mobile_logo_btn:active {
    transform: scale(1.2);
}

.mobile_logo{
    position: absolute;
    margin-top: 4.59%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 38%;
    margin: auto;
    
}

.mobile_nav{
    width: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 12;
}

.mobile_nav li{
    position: absolute;
    width: 30.58%;
    text-align: center;
}

.mobile_nav span{
    position: relative;
    display: block;
    background-color: white;
    width: 50%;
    padding-top: 50%;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 10%);
    margin: auto;
}

.mobile_nav span:active{
    transform: scale(1.1);
}

.mobile_nav img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
}

#developer_info img{
    width: 70%;
}



.mobile_nav li a{
    font-size: 2.67vw;
}

#simbol_button:checked+.mobile_logo_btn{
    background-color: #191919 !important;
    border: solid white 3px;
}

#simbol_button:checked+.mobile_logo_btn .mobile_logo{
    fill: white;
    transform: rotate(720deg);
}

/* 버튼 등장 모션 */

/* 결과 버튼 */
#test_result{
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    opacity: 0;
    left: 50%;
    top: 11%;
    transform:translateX(-50%);
}

#simbol_button:checked~.mobile_nav #test_result{
    /* transition: 0.2s linear forwards 0.4s; */
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1) 0.4s;
    opacity: 1;
    left: 0;
    top: 42%;
    transform:translateX(0);
}

/* 공유 버튼 */
#share_to_friends{
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    opacity: 0;
    left: 50%;
    top: 11%;
    transform:translateX(-50%);
}

#simbol_button:checked~.mobile_nav #share_to_friends{
    /* transition: 0.2s linear forwards 0.4s; */
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1) 0.3s;
    opacity: 1;
    top: 42%;
}

/* 개발자 정보 버튼 */
#developer_info{
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    opacity: 0;
    right: 50%;
    top: 11%;
    transform:translateX(50%);
}

#simbol_button:checked~.mobile_nav #developer_info{
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1) 0.2s;
    opacity: 1;
    right: 0;
    top: 42%;
    transform:translateX(0);
}

/* 버튼 텍스트 조정 */

.mobile_nav p{
    margin-top: 5%;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.039%;
    color: #191919;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 10%); 
    font-size: 2.67vw;
    opacity: 0;
}

#simbol_button:checked~.mobile_nav p{
    transition: all 0.6s cubic-bezier(0.7, 0, 0.84, 0) 0.5s;
    opacity: 1;
}

/* 버튼 배경 조정 */
.header_grd{
    display: block;
    position: absolute;
    background: linear-gradient( rgba(255, 255, 255, 40%)0%, rgba(255, 255, 255, 30%)60%, rgba(255, 255, 255,0%)100%);
    z-index: 11;
    width: 114.7%;
    height: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

#simbol_button:checked~.header_grd{
    opacity: 1;
    transition: opacity 3s cubic-bezier(0.16, 1, 0.3, 1);
}



/* -----------------------
            슬라이더
------------------------ */

.slider_section {
    padding-top: 133.34%;
    background-color: yellow;
}

.slider_box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.slider_item {
    flex-direction: column;
    justify-content: flex-end;
    width: 87.2%;
    padding-bottom: 3.13%;
}


/*---------------- 
        콘텐츠 
----------------*/

.contents_section {
    width: 87.2%;
}

#title_and_align_btn {
    margin-top: 9.17%;
}

#title_and_align_btn h2 {
    font-size: 4.8vw;
    margin-right: 6.12%;
}

.tests_headline {
    margin-top: 9.17%;
    font-size: 9.6vw;
    font-weight: 700;
    color: #191919;
}

/* 정렬 아이콘 */

#block_align_btn,
#list_align_btn {
    display: inline-block;
    width: 7.34%;
    height: 7.34%;
    cursor: pointer;
}

#list_align_btn {
    margin-right: 0;
}

#block_align_btn{
    margin-right: 3.06%;
}

#block_align_btn:active,
#list_align_btn:active {
    transform: scale(1.1) !important;
}
#block_align_btn:hover,
#list_align_btn:hover {
    transform: scale(1.0);
}

#block_align_btn:hover~#block_align_text,
#list_align_btn:hover~#list_align_text {
    display: none;
}


/* 블럭정렬 */

.block_view .contents_space {
    flex-direction: column;
}

.block_view .contents_block {
    width: 100%;
    border-radius: 10px;
    margin: 4.59% 0;
    margin-right: 0;
}

.block_view .contents_block:before {
    padding-top: 120%;
}

/* 리스트 정렬 */

.list_view .contents_block {
    border-radius: 10px;
    margin-top: 3.125%;
}

.list_view .contents_block:before {
    padding-top: 21.4%;
}

/* 작은 태그 */

.small_new_tag,
.small_best_tag,
.small_secret_tag{
    border-radius: 0 10px;
    width: 15.29%;
    font-size: 2.67vw;
    padding: 1.83% 0;
    min-width: 50px;
}

.contents_block{
    -webkit-tap-highlight-color: transparent;
}

.contents_block:focus{
    outline: 0 ;
}

.block_view .contents_block:hover {
    background-color: #f8f8fa;
    transform: none;
    z-index: 2;
}

.list_view .contents_block:hover {
    background-color: #f8f8fa;
    transform: none;
}


.block_view .contents_block:active {
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: scale(0.95);
}

/* 모바일 미디어쿼리 종료 */
}